@model List<dbVolunteer.Ads> 

@using (Ajax.BeginForm("FindAds", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "update",
    LoadingElementId = "loader"
}))
{
    @Html.TextBox("nameAds")
    <input type="submit" value="Search" />
}

@foreach (var item in Model)
{
    <div>
        <p>@Html.Label(item.Description.Name)</p>
        <br />
        <p>@Html.Label(item.Description.Info)</p>
    </div>
    <br/>
}

@*<form>
    <input type="hidden" name="hiddenField" />
</form>*@




@section Scripts {
    @Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
        $.fn.inlineEdit = function (replaceWith, connectWith) {

            $(this).hover(function () {
                $(this).addClass('hover');
            }, function () {
                $(this).removeClass('hover');
            });

            $(this).click(function () {

                var elem = $(this);

                elem.hide();
                elem.after(replaceWith);
                replaceWith.focus();

                replaceWith.blur(function () {

                    if ($(this).val() != "") {
                        connectWith.val($(this).val()).change();
                        elem.text($(this).val());
                    }

                    $(this).remove();
                    elem.show();
                });
            });
        };
</script>
<script type="text/javascript">
var replaceWith = $('<input name="temp" type="text" />'),
    connectWith = $('input[name="hiddenField"]');

$('p').inlineEdit(replaceWith, connectWith);
</script>
    
}